"*":
  "":
    yaml:
      source:
        editor:
          tabLength: 2
  "autocomplete-python": {}
  core: {}
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "3fe61168-8239-2b73-7fe2-2ebfd307f3af"
  global:
    editor:
      tabLength: 4
  metrics:
    userId: "f523b848dc1908f8d1ca33742e29e2c8a7e8d415"
  welcome:
    showOnStartup: false
